@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <br /><br />
        <br /><br />
        <div class="col-sm-3"></div>

        <div class="col-sm-6">
            <div class="card w3-round">

                <header class="w3-container w3-black w3-round">
                    <h1 class="w3-center">Register  <img align="top" src="~/images/icon.png" /></h1>
                </header>
                <br />
                <div class="w3-container w3-white w3-round ">
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <br />
                        <p>

                            <input asp-for="@Model.Username" class="w3-input w3-border w3-round w3-sand w3-large glyphicon " type="text" placeholder="&#xe008; Username">
                            <span asp-validation-for="@Model.Username"></span>
                        </p>
                        <p>

                            <input asp-for="@Model.Email" class="w3-input w3-border w3-round w3-sand w3-large glyphicon "  type="email" placeholder="&#x2709; Email">
                            <span asp-validation-for="@Model.Email"></span>
                            
                        </p>
                        <p>
                            <input asp-for="@Model.Password" class="w3-input w3-border w3-round w3-sand w3-large glyphicon"  type="password" placeholder="&#xe033; Password">
                            <span asp-validation-for="@Model.Password"></span>
                        </p>
                        <p>

                            <input asp-for="@Model.ConfirmPassword" class="w3-input w3-border w3-round w3-sand w3-large glyphicon"  type="password" placeholder="&#xe033; Confirm password">
                            <span asp-validation-for="@Model.ConfirmPassword"></span>
                        </p>

                        <br />
                        <div class="w3-row ">
                            <div class="w3-container w3-half  ">
                                <div class="w3-container ">
                                    <select asp-for="@Model.Type" class="w3-select w3-border-brown w3-hover-border-brown">
                                        <option value="" disabled selected>Profesor or Student ?</option>
                                        <option value="1">Student</option>
                                        <option value="2">Profesor</option>
                                    </select>

                                </div>

                            </div>


                            <div class="w3-container w3-half  ">
                                <div class="label1">
                                    <input class="w3-button w3-block w3-deep-orange w3-round" type="submit" value="Create account" />

                                </div>
                            </div>
                        </div>

                    </form>
                    <br />
                </div>


                <br />
                <div class="label1"><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-user "></span><b> If you already have an acount Login here</b></a></div>
            </div>
        </div>



    </div>
</div>
